{% extends "layout.html" %}

{% block content %}

<section class='main' id='content'>
<form class="form-signin">
  <h2 class="form-signin-heading">Please sign in</h2>
  <div class='row uniform'>
    <div class='3u 0u$(xsmall)'></div><div class='6u 12u$(xsmall)'>
      <label for="inputEmail" class="sr-only">Login</label>
      <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required="" autofocus="">
    </div><div class='3u 0u$(xsmall)'></div>
  </div>

  <div class='row uniform'>
    <div class='3u 0u$(xsmall)'></div><div class='6u 12u$(xsmall)'>
      <label for="inputPassword" class="sr-only">Password</label>
      <input type="password" id="inputPassword" class="form-control" placeholder="Password" required="">
    </div><div class='3u 0u$(xsmall)'></div>
  </div>
  <div class='row uniform'>
    <div class='3u 0u$(xsmall)'></div><div class='3u 12u$(xsmall)'>
      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="patient">
      <label for="inlineRadio1">Patient</label>
    </div>
    <div class='3u 12u$(xsmall)'>
      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="provider">
      <label for='inlineRadio2'>Provider</label>
    </div><div class='3u 0u$(xsmall)'></div>
  </div>

  <div class="row uniform">
    <div class='3u'></div><div class='6u'><button class="special" type="submit">Sign in</button></div><div class='3u'></div>
  </div>
</form>
</section>
<section>
  <h3>Oauth</h3>
  {% if error %}
  <p>{{ error }}</p>
  {% endif %}
  {% if app.user %}
    <p>Hello {{ app.user.username }}! Your email is {{ app.user.email }}</p>
    <a href="{{ logout_path }}">Logout</a>
  {% else %}
    <ul>
      <li><a href="{{ login_paths.google }}">Login with Google</a></li>

    </ul>
  {% endif %}


</section>


{% endblock %}
